<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
	<test thread-count="5" name="Submit Order Tests">
		<classes>
			<class name="RahulShettyAcademy.tests.SubmitOrderTest" />
		</classes>
	</test> <!--
	Test -->

	<test thread-count="5" name="Error Validation Tests">
		<classes>
			<class name="RahulShettyAcademy.tests.ErrorValidation" />
		</classes>
	</test>

	<!--<test name="Base Test Validation">
		<classes>
			<class name="RahulShettyAcademy.TestComponents.BaseTest" />
		</classes>
	</test>-->
</suite> <!--
Suite -->
